/* Text Styles */
body {
  background-color: #000000;
  font-family: Baskerville, serif;
  font-size: 16px;
  color: #dbc2a5
}
.alternativeBody {
	background-color: #dbc2a5 !important;
	color: black !important;
}
#mainTitle {
  text-align: center;
  display: none;
}
#altTitle {
  text-align: center;
  color: black !important;
}
.text-block {
  padding-left: 2em;
  padding-right: 3em;
}
h1 {
  font-size: 2em;
  margin-top: 1.75em;
  margin-bottom: 1em;
}
h2 {
  font-size: 1.75em;
  margin-bottom: 1em;
  margin-top: 2em;
	margin-left: .5em;
	margin-right: 0em;
}
h3 {
  font-size: 1em;
  font-variant: small-caps;
	margin-left: 2em;
	margin-right: 0em;
}
.h4 {
	text-transform: uppercase;
	font-size: 1em;
	letter-spacing: .1em;
}
p {
  font-family: Trebuchet MS, sans-serif;
  font-size: 1em;
  line-height: 1.75em;
  margin-left: 1em;
  margin-right: 0em;
}
.drop-cap {
  z-index: 1;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  height: auto;
  max-width: 150px;
}
.drop-cap-still {
  z-index: -10;
  float: left;
  margin-right: 5px;
  margin-bottom: 10px;
  width: 40%;
  height: auto;
  display: none;
}
.letter-R {
	position: relative;
	width: 150px;
	height: 150px;
	mask-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' width='300px' height='300px' viewBox='0 0 300 300' style='enable-background:new 0 0 300 300;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Crect class='st0' width='300' height='300'/%3E%3Cpath d='M249.1,166.3h-27.5c16.7-9.6,29.5-28.7,29.5-54.5c0-46.2-35.4-111-107.9-111h-123v36.6L33,39.8c7.6,0.8,13.1,6.4,13.1,24.7 v135.7c0,13.9-2.8,25.1-10.3,26.7l-15.5,2.4v36.6l25.5,33.4h115.8v-33.8l-27.5-33.8V185h18.7c2.8,8,4,43.8,15.9,68.9 c14.3,30.6,38.6,45.4,60.9,45.4c32.2,0,50.1-19.1,50.1-70.8v-23.5L249.1,166.3z M140.8,105.4h-6.8v-9.9c0-8,3.2-12.3,7.6-12.3h9.2 c3.2,0,6.4,3.2,6.4,7.2C157.2,97.9,147.6,105.4,140.8,105.4z'/%3E%3C/svg%3E%0A");
	mask-repeat: no-repeat;
	mask-size: cover;
}
.letter-R video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.letter-F {
	position: relative;
	width: 150px;
	height: 150px;
	mask-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' width='300px' height='300px' viewBox='0 0 300 300' style='enable-background:new 0 0 300 300;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Crect class='st0' width='300' height='300'/%3E%3Cpath d='M56.9,39.8l-12.7-2.4V0.8h182.3l29.5,39v95.5h-47.4l-25.1-33.4V87.1c0-13.9-4.8-21.5-11.9-21.5c-9.2,0-13.9,8.4-13.5,21.5 l0.4,9.2l41,51.3v33L158,181v47.4l26.7,35v35.8h-115l-25.5-33.4v-36.6l15.5-2.4c7.6-1.6,10.3-12.7,10.3-26.7V64.4 C70,46.1,64.4,40.6,56.9,39.8z'/%3E%3C/svg%3E%0A");
	mask-repeat: no-repeat;
	mask-size: cover;
}
.letter-F video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
.first-sentence-small-caps {
  /*font-family: Baskerville, serif;*/ text-transform: uppercase;
}
.caption {
  font-size: .75em;
  font-family: Trebuchet MS, sans-serif;
  line-height: 2em;
}
/* End Text Styles */

/* Layout */
.container-fluid {
  width: 100%;
}
.img-fluid {
  max-width: 100%;
  max-height: 100vh;
}
#introVideo {
  max-width: 100%;
  max-height: 100vh;
}
#indexPageStart {
	opacity: 0;
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' viewBox='0 0 1080 923.5' style='enable-background:new 0 0 1080 923.5;' xml:space='preserve'%3E%3Cdefs%3E%3C/defs%3E%3Cg%3E%3Cpath fill='%23A02743' opacity='50%25' d='M205.9,354.5c-19.7-42.5-29.6-82.2-29.6-119c0-41.7,12.3-80.3,36.8-116.1c24.6-35.7,55.8-64.6,93.7-86.5 C344.8,11,384.1,0,424.9,0c45.6,0,83.6,12.6,114.1,37.8c30.5,25.2,45.7,55.4,45.7,90.4c0,26.3-7.3,50.6-22,73 c-14.7,22.4-30.2,33.5-46.4,33.5c-7.9,0-11.8-4.2-11.8-12.5c0-3.1,2.2-9.9,6.6-20.4c7-17.1,10.5-34.4,10.5-52 c0-26.3-10.8-47.7-32.2-64.1c-21.5-16.4-47.4-24.7-77.6-24.7c-48.7,0-94.2,20.1-136.5,60.2c-42.3,40.1-63.5,86.1-63.5,137.8 c0,23.2,3.1,42.9,9.2,58.9c6.1,16,11.7,26.4,16.8,31.2c5,4.8,12.2,7.2,21.4,7.2c60.5,0,90.8,17.5,90.8,52.6c0,8.8-3.2,17.1-9.5,25 c-6.4,7.9-15.7,11.8-28,11.8c-13.6,0-30.9-9-52-27c-22.4-19.3-44.3-28.9-65.8-28.9c-27.6,0-53.8,13.7-78.6,41.1 c-24.8,27.4-37.2,60-37.2,97.7c0,73.2,36.4,142.4,109.2,207.5c72.8,65.1,163.3,97.7,271.6,97.7c102.6,0,190.4-25.5,263.4-76.6 c73-51.1,109.5-112.1,109.5-183.2c0-47.4-18-88.5-53.9-123.3c-36-34.9-84.6-52.3-146-52.3c-49.6,0-93.7,13.6-132.5,40.8 c-38.8,27.2-58.2,61.2-58.2,101.9c0,24.6,7,44.7,21,60.5c14,15.8,28.5,23.7,43.4,23.7c17.1,0,25.7-9.2,25.7-27.6l-0.7-7.9 c-0.4-5.7-0.7-9.6-0.7-11.8c0-19.3,5.3-35.2,15.8-47.7s23.9-18.7,40.1-18.7c15.3,0,28.7,5.4,40.1,16.1 c11.4,10.8,17.1,25.8,17.1,45.1c0,27.6-9.5,50.6-28.6,69.1c-19.1,18.4-43.5,27.6-73.3,27.6c-35.5,0-66.1-12.6-91.8-37.8 c-25.7-25.2-38.5-56.2-38.5-93.1c0-53.9,22.6-103,67.7-147.3c45.2-44.3,127.2-66.4,246-66.4c106.6,0,183.9-14.7,232.2-44.1 c48.2-28.9,72.4-73,72.4-132.2c0-35.1-10.8-63.9-32.2-86.5c-21.5-22.6-48.7-33.9-81.6-33.9c-16.2,0-28.4,2.3-36.5,6.9 c-8.1,4.6-12.2,11.7-12.2,21.4c0,6.1,3.9,14.9,11.8,26.3c10.1,14.5,15.1,28.5,15.1,42.1c0,16.2-6.2,30.5-18.7,42.8 c-12.5,12.3-28,18.4-46.4,18.4c-21.9,0-38.6-7-50-21c-11.4-14-17.1-30.5-17.1-49.3c0-29.8,14.6-56.6,43.7-80.2 C835.2,11.8,872.4,0,917.5,0c46.5,0,85.2,17,116.1,51c30.9,34,46.4,74.9,46.4,122.7c0,45.2-13.3,86.4-39.8,123.7 c-26.5,37.3-60.1,63.6-100.6,78.9c-40.6,15.4-97.5,24.3-170.7,27c70.1,49.6,105.2,113.1,105.2,190.7c0,58.3-21.5,114.7-64.5,169 c-43,54.4-95,94.7-156.2,121s-135.8,39.5-224,39.5c-71.5,0-129.4-7.8-173.6-23.3c-44.3-15.6-86.5-38.2-126.6-68.1 c-40.1-29.8-71.7-66.3-94.7-109.5C11.5,679.3,0,633,0,583.4C0,522.9,17.3,472,52,430.8C86.6,389.6,137.9,364.2,205.9,354.5z'/%3E%3C/g%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: cover;
}
#aboutPageStart {
	background-image: url("data:image/svg+xml,%3C!--Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In--%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' viewBox='0 0 306.3 371.1' style='enable-background:new 0 0 306.3 371.1; opacity: 60%25' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23A02743;%7D %3C/style%3E%3Cdefs/%3E%3Cg%3E%3Cpath class='st0' d='M0,227.6c0-33.5,10-69.6,30-108.2c20-38.7,45-68.2,74.9-88.7c30-20.4,58.9-30.7,87-30.7 c14.6,0,30.8,3.9,48.5,11.6c17.7,7.8,33.1,23.1,46.3,46c13.1,22.9,19.7,50.7,19.7,83.5c0,57.1-19.5,109.7-58.4,157.8 c-38.9,48.1-81.5,72.2-127.7,72.2c-34.4,0-63-12.5-85.9-37.5C11.5,308.5,0,273.2,0,227.6z M47.3,254.3c0,25,2.4,44.3,7.1,57.9 c4.8,13.6,12.8,24.8,24.1,33.8c11.3,9,24.8,13.5,40.7,13.5c24.8,0,48-12.2,69.4-36.7c21.4-24.5,39-58.7,52.7-102.5 c13.7-43.9,20.6-81.3,20.6-112.3c0-31.7-6.7-55.5-20-71.5c-13.3-15.9-30.4-23.9-51.1-23.9c-24.3,0-47.3,11.7-69,35.2 c-21.7,23.4-39.5,56.1-53.5,98.1C54.3,187.6,47.3,223.8,47.3,254.3z'/%3E%3C/g%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: cover;
}
#musicPageStart {
	background-image: url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' viewBox='0 0 1544.9 1081.1' style='enable-background:new 0 0 1544.9 1081.1; opacity: 40%25' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23A02743;%7D .st1%7Bfill:%23B0E2F8;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cg%3E%3Cpath class='st0' d='M601.9,1.9l122.7,161v118.9c-23,9.6-38.3,28.8-38.3,55.6c28.8,36.4,59.4,88.2,59.4,132.2 c0,92-59.4,159.1-159.1,159.1c-74.8,0-138-38.3-176.3-101.6c-23,69-67.1,99.7-147.6,99.7C138,626.8,0,463.9,0,299 C0,141.8,107.4,15.3,278,0l93.9,130.3C417.9,61.3,488.8,11.5,601.9,1.9z'/%3E%3Cpath class='st1' d='M28.8,299c0,93.9,44.1,161,134.2,161c65.2,0,107.3-55.6,107.3-124.6c0-67.1-40.2-103.5-92-103.5 c-19.2,0-32.6,1.9-49.8,7.7c13.4-74.7,57.5-113.1,122.7-128.4V28.8C134.2,49.8,28.8,155.3,28.8,299z'/%3E%3Cpath class='st0' d='M222.4,93.9c-65.2,13.4-128.4,84.3-124.6,189.7c24.9-15.3,49.8-23,72.8-23c44.1,0,70.9,38.3,70.9,76.7 c0,51.8-34.5,93.9-78.6,93.9c-74.8,0-103.5-61.4-103.5-132.3c0-136.1,88.2-210.9,162.9-231.9V93.9z'/%3E%3Cpath class='st1' d='M352.7,299c0,95.8,44.1,162.9,132.2,162.9c65.2,0,109.3-55.6,109.3-126.5c0-65.2-42.2-103.5-92-103.5 c-19.2,0-34.5,1.9-51.8,9.6c15.3-74.8,59.4-113.1,122.7-128.4V30.6C456.2,51.7,352.7,157.2,352.7,299z'/%3E%3Cpath class='st0' d='M544.4,95.8c-63.2,13.4-126.5,84.4-124.6,187.9c26.8-13.4,49.8-23,72.8-23c44.1,0,72.8,40.3,72.8,78.6 c0,49.8-34.5,93.9-80.5,93.9c-74.7,0-103.5-61.4-103.5-134.2c0-136.1,88.2-208.9,162.9-231.9V95.8z'/%3E%3Cpath class='st0' d='M958.4,1081.1L835.7,918.1V778.2c44.1-9.6,76.7-23,93.9-44.1c-67.1-19.2-116.9-70.9-116.9-147.6 c0-80.5,55.6-155.3,139.9-155.3c93.9,0,141.8,28.8,189.7,103.5c23-70.9,69-101.6,139.9-101.6c151.4,0,262.6,184,262.6,343.1 c0,162.9-115,260.7-264.5,304.8l-101.6-134.2C1142.4,1000.6,1061.9,1054.2,958.4,1081.1z'/%3E%3Cpath class='st1' d='M1084.9,621c0-93.9-44.1-161-132.2-161c-67.1,0-109.3,53.7-109.3,126.5c0,65.2,40.2,101.6,92,101.6 c19.2,0,32.6-1.9,51.8-9.6c-15.3,76.7-59.4,113.1-122.7,128.4v82.4C985.2,870.2,1084.9,774.4,1084.9,621z'/%3E%3Cpath class='st0' d='M891.3,826.1c65.2-13.4,128.4-86.3,124.6-189.8c-24.9,15.3-49.8,24.9-72.8,24.9c-44.1,0-70.9-42.2-70.9-80.5 c0-49.8,34.5-92,80.5-92c72.8,0,103.5,61.3,103.5,132.2c0,136.1-90.1,208.9-164.8,233.9V826.1z'/%3E%3Cpath class='st1' d='M1408.8,623c0-95.8-46-162.9-134.2-162.9c-65.2,0-109.3,55.6-109.3,126.5c0,65.2,42.2,103.5,93.9,103.5 c17.3,0,32.6-1.9,49.8-9.6c-13.4,74.8-59.4,113.1-122.7,128.4v82.4C1311.1,866.4,1408.8,774.4,1408.8,623z'/%3E%3Cpath class='st0' d='M1215.2,826.1c63.2-13.4,126.5-84.3,124.6-187.9c-24.9,13.4-51.8,23-74.8,23c-44.1,0-70.9-40.3-70.9-78.6 c0-49.8,34.5-92,80.5-92c72.8,0,103.5,59.4,103.5,132.3c0,136.1-84.4,208.9-162.9,233.9V826.1z'/%3E%3C/g%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: contain;
}
.sticky-div {
position: sticky;
top: 0;
}
.sticky-top {
  position: sticky;
  top: 0;
  z-index: -10;
}
.hanging-indent {
     text-indent: -2em !important;
     margin-left: 3em !important;
}
ul {
  list-style-type: none;
  margin-left: 2em;
  padding: 0;
  font-family: Trebuchet MS, sans-serif;
  font-size: 1em;
}
/* End Layout */

/* Navigation */
.menu {
	justify-content: center;
	opacity: 0;
}
.nav-button {
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' viewBox='0 0 108 50.7' style='' xml:space=''%3E%3Cstyle type='text/css'%3E .st0%7Bfill:transparent;stroke:%23DBC2A5;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpath class='st0' d='M0.5,42.4c4.3,0,7.7,3.5,7.7,7.7h91.5c0-4.3,3.5-7.7,7.7-7.7V8.2c-4.3,0-7.7-3.5-7.7-7.7H8.2 c0,4.3-3.5,7.7-7.7,7.7V42.4z'/%3E%3C/svg%3E ");
	font-size: 1.75em;
	color: #dbc2a5;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	border-style: none;
  height: 101.4px;
  width: 216px;
	padding: .5em;
	margin-left: .5em;
	margin-right: .5em;
	margin-top: 0em;
	margin-bottom: 0em;
}
.nav-button:hover {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' viewBox='0 0 108 50.7' style='' xml:space=''%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23DBC2A5;stroke:none;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpath class='st0' d='M0.5,42.4c4.3,0,7.7,3.5,7.7,7.7h91.5c0-4.3,3.5-7.7,7.7-7.7V8.2c-4.3,0-7.7-3.5-7.7-7.7H8.2 c0,4.3-3.5,7.7-7.7,7.7V42.4z'/%3E%3C/svg%3E ");
  color: #000000;
}
.altButton .nav-button {
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' viewBox='0 0 108 50.7' style='' xml:space=''%3E%3Cstyle type='text/css'%3E .st0%7Bfill:transparent;stroke:%23000000;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpath class='st0' d='M0.5,42.4c4.3,0,7.7,3.5,7.7,7.7h91.5c0-4.3,3.5-7.7,7.7-7.7V8.2c-4.3,0-7.7-3.5-7.7-7.7H8.2 c0,4.3-3.5,7.7-7.7,7.7V42.4z'/%3E%3C/svg%3E ") !important;
	color: black !important;
}
.altButton .nav-button:hover {
	background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' viewBox='0 0 108 50.7' style='' xml:space=''%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23000000;stroke:none;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpath class='st0' d='M0.5,42.4c4.3,0,7.7,3.5,7.7,7.7h91.5c0-4.3,3.5-7.7,7.7-7.7V8.2c-4.3,0-7.7-3.5-7.7-7.7H8.2 c0,4.3-3.5,7.7-7.7,7.7V42.4z'/%3E%3C/svg%3E ") !important;
     color: #DBC2A5 !important;
}
.nav-button-secondary {
  font-size: 1.75em;
  font-style: italic;
  line-height: 2em;
  color: #000000;
  background-color: #dbc2a5;
  background-size: cover;
  border-style: none;
  border-radius: 0;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: .5em;
  height: auto;
}
.altButton .nav-button-secondary {
	color: #dbc2a5 !important;
     background-color: #000000 !important;
}
.nav-button-secondary:hover {
  color: #dbc2a5 !important;
  background-color: #000000 !important;
}
.altButton .nav-button-secondary:hover {
	color: #000000 !important;
     background-color: #dbc2a5 !important;
}
a:link {
  color: #dbc2a5;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: .5em;
}
a:visited{
  color: black;
}
/* End Navigation */

/* Multimedia */
#introVideo {
  opacity: 1;
  /*transition: opacity .5s ease;*/
}
.spotify {
	color: black;
}
figure {
  text-align: right;
}
figcaption {
  text-align: right;
}
/* End Multimedia */

/* Footer */
.fa {
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1.75em;
	color: #dbc2a5;
}
.altFooter .fa{
	color: black !important;
}
/* End Footer */

/* Media Queries */
@media (max-width: 576px) {
	.drop-cap {
		display: none;
	}
	.drop-cap-still {
		display: flex;
	}
  .nav-button {
    margin-left: 3em;
  	margin-right: 3em;
  	margin-top: .25em;
  	margin-bottom: 0em;
  }
}
@media (max-width: 767px) {
  p {
    font-size: 0.9em;
    line-height: 1.3;
  }
  #mainTitle {
    display: block;
  }
  #introVideo {
    display:none;
  }
  #indexPageStart {
    opacity: 1;
  }
  figure {
    text-align: center;
  }
  figcaption {
    text-align: left;
    margin-left: 3em;
  }
  .text-block {
    padding-left: 3em;
    padding-right: 5em;
  }
  .menu {
    opacity: 1;
  }
  .nav-button {
    margin-left: 3em;
  	margin-right: 3em;
  	margin-top: .25em;
  	margin-bottom: 0em;
  }
  .social {
	  padding-left: 2em;
  }
}
