body {
  background-color: #000000;
  font-family: Baskerville;
  font-size: 18px;
}

.container-fluid {
  width: 100%
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.nav-button {
  font-size: 3em;
  line-height: 2em;
  color: #dbc2a5;
  background-color: transparent;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  border-style: none;
  padding: .5em;
  width: 200px;
  height: 150px;
}

.nav-button-secondary {
  font-size: 1.75em;
  font-style: italic;
  line-height: 2em;
  color: #000000;
  background-color: #dbc2a5;
  background-size: cover;
  border-style: none;
  border-radius: 0;
  height: auto;
}

.nav-button-secondary:hover {
  color: #dbc2a5;
  background-color: #000000;
}

.drop-cap {
  z-index: -10;
}

.main-index {
  z-index: 1;
}

h1, h2, h3, p {
     color: #dbc2a5;
}

h1 {
  font-family: Baskerville, serif;
  font-size: 1.75em;
  margin-top: 1.75em;
  margin-bottom: 1em;
}

h2 {
     font-family: Baskerville, serif;
     font-size: 1.75em;
     margin-bottom: 1em;
     margin-top: 2em;
}

h3 {
     font-family: Baskerville, serif;
     font-size: 1em;
     font-variant: small-caps;
}

.h4 {
	text-transform: uppercase;
	font-family: Baskerville, serif;
	font-size: 1em;
}

p {
     font-family: Trebuchet MS, sans-serif;
     font-size: 1em;
     line-height: 1.75em;
     margin-top: 3em;
     margin-bottom: 3em;
}

.special-paragraph {
  font-size: .75em;
  font-family: Trebuchet MS, sans-serif;
  line-height: 1.75em;
}

p:first-child {
     text-indent: 0;
}

p:not(:first-child) {
     text-indent: 2.5em;
}

ul {
  list-style-type: none;
  margin-left: 0em;
  padding: 0;
  font-family: Trebuchet MS, sans-serif;
  font-size: 1em;
  color: #dbc2a5 !important;
}

.hanging-indent {
     text-indent: -2.5em !important;
     margin-left: 2.5em !important;
}

.first-sentence-small-caps {
  /*font-family: Baskerville, serif;*/ font-variant: small-caps;
}

/*.drop-cap:first-letter {
  float: left;
  font-size: 4em;
  margin-right: 1em;
  font-family: Rosewood Std Regular, serif;
}

.drop-cap {
  text-indent: 1.5em;
}*/


a:link {
  color: black;
  text-decoration: none;
}

a:hover{
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: .2em;
}

a:visited{
  color: black;
}

video {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .nav-button {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' viewBox='0 0 108 50.7' style='enable-background:new 0 0 108 50.7;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23DBC2A5;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpath class='st0' d='M0.5,42.4c4.3,0,7.7,3.5,7.7,7.7h91.5c0-4.3,3.5-7.7,7.7-7.7V8.2c-4.3,0-7.7-3.5-7.7-7.7H8.2 c0,4.3-3.5,7.7-7.7,7.7V42.4z'/%3E%3C/svg%3E%0A");
    width: 100%;
  }
  .nav-button:hover {
    color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' viewBox='0 0 108 50.7' style='display: block; margin: auto;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23DBC2A5;stroke:%23000000;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpath class='st0' d='M0.5,42.4c4.3,0,7.7,3.5,7.7,7.7h91.5c0-4.3,3.5-7.7,7.7-7.7V8.2c-4.3,0-7.7-3.5-7.7-7.7H8.2 c0,4.3-3.5,7.7-7.7,7.7V42.4z'/%3E%3C/svg%3E ");
  }
  h1 {
    font-size: 3em !important;
  }
  #main-title-text {
    display: none;
  }
  .sticky-div {
  position: sticky;
  top: 1em;
}
}

@media (max-width: 767px) {
  h1 {
    font-size: 3em !important;
  }
  h2 {
    font-size: 2em;
  }
  body {
    font-size: 18px;
  }
  p {
    font-size: 1.25em;
    line-height: 2.25;
    margin: 0.5em 0;
  }
  #intro-video-window {
    display:none;
  }
  .nav-button {
       font-size: 2em;
       background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' viewBox='0 0 108 50.7' style='' xml:space=''%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23DBC2A5;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpath class='st0' d='M0.5,42.4c4.3,0,7.7,3.5,7.7,7.7h91.5c0-4.3,3.5-7.7,7.7-7.7V8.2c-4.3,0-7.7-3.5-7.7-7.7H8.2 c0,4.3-3.5,7.7-7.7,7.7V42.4z'/%3E%3C/svg%3E ");
  }
  .nav-button:hover {
       color: #000000;
       background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' viewBox='0 0 108 50.7' style='display: block; margin: auto;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23DBC2A5;stroke:%23000000;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Cpath class='st0' d='M0.5,42.4c4.3,0,7.7,3.5,7.7,7.7h91.5c0-4.3,3.5-7.7,7.7-7.7V8.2c-4.3,0-7.7-3.5-7.7-7.7H8.2 c0,4.3-3.5,7.7-7.7,7.7V42.4z'/%3E%3C/svg%3E ");
  }
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

.social-icons a {
  font-size: 1.75em;
  color: #dbc2a5;
  padding: 5px;
}
